In [2]:
from import_libs import *

In [3]:
df = pd.read_csv('data/GBPUSD_5_clean.csv', header=0, index_col='time', parse_dates=True)

In [38]:
df['sma5'] = df['close'].rolling(window=5,min_periods=1, center=False).mean()
df['sma13'] = df['close'].rolling(window=13,min_periods=1, center=False).mean()
df['signal'] = np.nan
df.head(15)

,open,high,low,close,mean,distance,point,point_abs,hour,sma5,sma13,signal
time,,,,,,,,,,,,
2018-12-02 22:00:00,1.274335,1.275200,1.273350,1.274750,1.274542,0.000415,4.15,4.15,22,1.274750,1.274750,NaN
2018-12-02 22:05:00,1.274750,1.275205,1.274295,1.274700,1.274725,-0.000050,-0.50,0.50,22,1.274725,1.274725,NaN
2018-12-02 22:10:00,1.274565,1.274565,1.274110,1.274170,1.274367,-0.000395,-3.95,3.95,22,1.274540,1.274540,NaN
2018-12-02 22:15:00,1.274175,1.274310,1.273985,1.274050,1.274112,-0.000125,-1.25,1.25,22,1.274417,1.274417,NaN
2018-12-02 22:20:00,1.274045,1.274810,1.273970,1.274570,1.274307,0.000525,5.25,5.25,22,1.274448,1.274448,NaN
2018-12-02 22:25:00,1.274580,1.274675,1.274005,1.274010,1.274295,-0.000570,-5.70,5.70,22,1.274300,1.274375,NaN
2018-12-02 22:30:00,1.274025,1.274440,1.273980,1.274110,1.274068,0.000085,0.85,0.85,22,1.274182,1.274337,NaN
2018-12-02 22:35:00,1.274120,1.274175,1.273585,1.273915,1.274018,-0.000205,-2.05,2.05,22,1.274131,1.274284,NaN
2018-12-02 22:40:00,1.273915,1.274045,1.273825,1.274035,1.273975,0.000120,1.20,1.20,22,1.274128,1.274257,NaN
2018-12-02 22:45:00,1.274030,1.274200,1.273330,1.273850,1.273940,-0.000180,-1.80,1.80,22,1.273984,1.274216,NaN
2018-12-02 22:50:00,1.273870,1.274560,1.273830,1.273880,1.273875,0.000010,0.10,0.10,22,1.273958,1.274185,NaN
2018-12-02 22:55:00,1.273875,1.273875,1.273505,1.273745,1.273810,-0.000130,-1.30,1.30,22,1.273885,1.274149,NaN
2018-12-02 23:00:00,1.273740,1.273995,1.273635,1.273960,1.273850,0.000220,2.20,2.20,23,1.273894,1.274134,NaN
2018-12-02 23:05:00,1.273955,1.273955,1.273795,1.273875,1.273915,-0.000080,-0.80,0.80,23,1.273862,1.274067,NaN
2018-12-02 23:10:00,1.273865,1.273985,1.273785,1.273890,1.273877,0.000025,0.25,0.25,23,1.273870,1.274005,NaN

In [49]:
df['signal']=df['sma5'][5:]>df['sma13'][5:]
df['signal']=df['signal'].diff()
df.head(25)

,open,high,low,close,mean,distance,point,point_abs,hour,sma5,sma13,signal
time,,,,,,,,,,,,
2018-12-02 22:00:00,1.274335,1.275200,1.273350,1.274750,1.274542,0.000415,4.15,4.15,22,1.274750,1.274750,NaN
2018-12-02 22:05:00,1.274750,1.275205,1.274295,1.274700,1.274725,-0.000050,-0.50,0.50,22,1.274725,1.274725,NaN
2018-12-02 22:10:00,1.274565,1.274565,1.274110,1.274170,1.274367,-0.000395,-3.95,3.95,22,1.274540,1.274540,NaN
2018-12-02 22:15:00,1.274175,1.274310,1.273985,1.274050,1.274112,-0.000125,-1.25,1.25,22,1.274417,1.274417,NaN
2018-12-02 22:20:00,1.274045,1.274810,1.273970,1.274570,1.274307,0.000525,5.25,5.25,22,1.274448,1.274448,NaN
2018-12-02 22:25:00,1.274580,1.274675,1.274005,1.274010,1.274295,-0.000570,-5.70,5.70,22,1.274300,1.274375,NaN
2018-12-02 22:30:00,1.274025,1.274440,1.273980,1.274110,1.274068,0.000085,0.85,0.85,22,1.274182,1.274337,0
2018-12-02 22:35:00,1.274120,1.274175,1.273585,1.273915,1.274018,-0.000205,-2.05,2.05,22,1.274131,1.274284,0
2018-12-02 22:40:00,1.273915,1.274045,1.273825,1.274035,1.273975,0.000120,1.20,1.20,22,1.274128,1.274257,0
2018-12-02 22:45:00,1.274030,1.274200,1.273330,1.273850,1.273940,-0.000180,-1.80,1.80,22,1.273984,1.274216,0
2018-12-02 22:50:00,1.273870,1.274560,1.273830,1.273880,1.273875,0.000010,0.10,0.10,22,1.273958,1.274185,0
2018-12-02 22:55:00,1.273875,1.273875,1.273505,1.273745,1.273810,-0.000130,-1.30,1.30,22,1.273885,1.274149,0
2018-12-02 23:00:00,1.273740,1.273995,1.273635,1.273960,1.273850,0.000220,2.20,2.20,23,1.273894,1.274134,0
2018-12-02 23:05:00,1.273955,1.273955,1.273795,1.273875,1.273915,-0.000080,-0.80,0.80,23,1.273862,1.274067,0
2018-12-02 23:10:00,1.273865,1.273985,1.273785,1.273890,1.273877,0.000025,0.25,0.25,23,1.273870,1.274005,0
2018-12-02 23:15:00,1.273895,1.273980,1.273885,1.273925,1.273910,0.000030,0.30,0.30,23,1.273879,1.273986,0
2018-12-02 23:20:00,1.273905,1.274205,1.273905,1.274165,1.274035,0.000260,2.60,2.60,23,1.273963,1.273995,0
2018-12-02 23:25:00,1.274160,1.274690,1.274160,1.274670,1.274415,0.000510,5.10,5.10,23,1.274105,1.274002,1
2018-12-02 23:30:00,1.274685,1.275110,1.274685,1.275045,1.274865,0.000360,3.60,3.60,23,1.274339,1.274082,0
2018-12-02 23:35:00,1.275045,1.275215,1.274845,1.274860,1.274952,-0.000185,-1.85,1.85,23,1.274533,1.274140,0
2018-12-02 23:40:00,1.274850,1.274910,1.274670,1.274670,1.274760,-0.000180,-1.80,1.80,23,1.274682,1.274198,0
2018-12-02 23:45:00,1.274675,1.274980,1.274650,1.274920,1.274798,0.000245,2.45,2.45,23,1.274833,1.274266,0
2018-12-02 23:50:00,1.274915,1.274990,1.274910,1.274985,1.274950,0.000070,0.70,0.70,23,1.274896,1.274353,0
2018-12-02 23:55:00,1.274980,1.275220,1.274910,1.275210,1.275095,0.000230,2.30,2.30,23,1.274929,1.274455,0
2018-12-03 00:00:00,1.275205,1.275210,1.274545,1.274675,1.274940,-0.000530,-5.30,5.30,0,1.274892,1.274527,0

In [58]:
data=df[:100]
data.loc[data.signal == -1.0].index

DatetimeIndex(['2018-12-03 01:50:00', '2018-12-03 03:15:00',
               '2018-12-03 04:40:00'],
              dtype='datetime64[ns]', name='time', freq=None)